# Neon Auth URL for the production branch
NEXT_PUBLIC_NEON_AUTH_URL=https://YOUR-NEON-AUTH-HOST/neondb/auth

# Neon Data API URL for the production branch
NEXT_PUBLIC_NEON_DATA_API_URL=https://YOUR-NEON-DATA-API-HOST/neondb/rest/v1
